* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Body";
  src: url("/font/Inter-VariableFont.ttf") format("woff2");
  font-weight: 100, 900;
  font-style: normal;
}
@font-face {
  font-family: "Title";
  src: url("/font/Coralith.woff2") format("woff2"), url("/font/Coralith.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "Body";
  font-size: 16px;
  color: #16171F;
}

body {
  font-family: "Body", sans-serif;
  background-color: #FFFFFF;
}

.hidden {
  display: none !important;
}

input {
  background: none;
  border: none;
  width: 100%;
  color: #16171F;
  font-size: 1rem;
}
input::-webkit-input-placeholder {
  color: rgba(22, 23, 31, 0.6);
}
input::-moz-placeholder {
  color: rgba(22, 23, 31, 0.6);
}
input:-ms-input-placeholder {
  color: rgba(22, 23, 31, 0.6);
}
input::-ms-input-placeholder {
  color: rgba(22, 23, 31, 0.6);
}
input::placeholder {
  color: rgba(22, 23, 31, 0.6);
}

.Wrapper {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #16171F;
}

.Container {
  width: 428px;
  padding: 94px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #E6E6E6;
  border-radius: 12px;
  background-color: #FFFFFF;
}
.Container h1 {
  font-family: "Title";
  font-weight: normal;
  text-align: center;
}
.Container span {
  font-size: 2rem;
}

#Box1 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.Container-Box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.Grp01 {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid rgba(22, 23, 31, 0.2);
}
.Grp01 button {
  width: 50px;
  margin-right: -18px;
  background: none;
  border: none;
  color: #16171F;
  cursor: pointer;
  font-size: 1rem;
}
.Grp01 button span {
  font-size: 26px;
}/*# sourceMappingURL=admin.css.map */