* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Body";
  src: url("/font/Inter-VariableFont.ttf") format("woff2");
  font-weight: 100, 900;
  font-style: normal;
}
@font-face {
  font-family: "Title";
  src: url("/font/Coralith.woff2") format("woff2"), url("/font/Coralith.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "Body";
  font-size: 16px;
  color: #16171F;
}

body {
  font-family: "Body", sans-serif;
  background-color: #16171F;
}

/* -------------------------------------------------- */
.Wrapper {
  width: 100%;
  min-height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Container {
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 0px;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #16171F;
}
.Container h1 {
  font-family: "Title" serif;
  font-weight: normal;
  font-size: clamp(0.75rem, 0.3333rem + 1.8519vw, 2rem);
  text-align: center;
}
.Container p {
  font-family: "Body" sans-serif;
  font-size: clamp(0.625rem, 0.5rem + 0.5556vw, 1rem);
  text-align: center;
}

/* Les items ------------------------ */
.manage-list {
  max-width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.manage-list:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.manage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 12px;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.14);
  border: solid 1px rgba(128, 128, 128, 0.168627451);
}

.manage-thumb {
  width: 100px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  background: #f0f0f0;
}

.manage-meta {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.manage-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: 52px;
}
.manage-actions button {
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.manage-actions button:hover {
  scale: 1.1;
}

.danger {
  background: #ff3b30;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.neutral {
  background: #eee;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}/*# sourceMappingURL=manage.css.map */